/**
 * Message Card Directive styles.
 */

.message-card-container {
    display: flex;
    flex-direction: column;
    @extend .dropshadow-m;
    border-radius: $card-radius;
    margin-bottom: $scale3;
    background: $card-course-color;

    .message-card {
        position: relative;
        padding: $scale4;
        display: flex;
        flex-direction: row;

        .message-card-text {
            width: 100%;

            .title {
                text-align: center;
            }
        }
    }
}
