bower_components
build
node
node_modules
npm-debug.log
target

.classpath
.DS_Store
.gradle
.idea
.merge_file*
.project
.sass-cache
.settings
.tmp

*.iml
postgres-data
solr-data
~
/webapp/package-lock.json
beautifier.log
