<div class="team-course-view">

    <team-subheader on-search="ctrl.search(searchValue)" placeholder-message="ctrl.data.searchPlaceholderText" on-start-date="ctrl.setStartDate(startDate)" on-end-date="ctrl.setEndDate(endDate)"></team-subheader>

    <div class="team-progress-section">
        <div class="team-progress-section-header clearfix">
            <div id="teamProgress">
            </div>
            <div ng-if="!ctrl.data.isLoading">
                <a ng-href="api/csv/team-progress/export/type/{{ctrl.data.progressionType}}?q={{ctrl.data.searchValue}}&startDate={{ctrl.data.startDate}}&endDate={{ctrl.data.endDate}}" class="download-link" target="_blank">
                    <button class="primary"><img class="svg" src="assets/images/download.svg" /> Download</button>
                </a>
            </div>
        </div>

        <div class="row" ng-if="!ctrl.data.isLoading">
            <div class="col-sm-12">

                <team-manager-list ng-if="ctrl.data.managers && ctrl.data.managers.length > 0 && !ctrl.data.isLoading" managers="ctrl.data.managers" on-manager-click="ctrl.goToManagerView(manager, ctrl.data.progressionType)"></team-manager-list>

                <team-course-card progression-overview="teamProgression" open="false" type="ctrl.data.progressionType" on-member-click="ctrl.goToMemberView(member, program)" ng-repeat="teamProgression in ctrl.data.progressionOverview | filter: ctrl.teamProgressionFilter | filter: ctrl.isManagerFilter | orderBy: 'program.title' track by $index" ng-if="!ctrl.data.isLoading"></team-course-card>


                <h5>View the progress of your direct reports</h5>

                <team-course-card progression-overview="teamProgression" open="false" type="ctrl.data.progressionType" on-member-click="ctrl.goToMemberView(member, program)" ng-repeat="teamProgression in ctrl.data.progressionOverview | filter: ctrl.teamProgressionFilter | filter: ctrl.isNotManagerFilter | orderBy: 'program.title' track by $index" ng-if="!ctrl.data.isLoading"></team-course-card>

            </div>
        </div>

        <message-card ng-if="ctrl.data.progressionOverview && ctrl.data.progressionOverview.length === 0 && !ctrl.data.isLoading" message="'No progress available for direct reports.'"></message-card>

        <div class="text-center" ng-if="ctrl.data.isLoading">
            <h3>Loading, please wait&nbsp;&nbsp;&nbsp;<div class="loader">loading</div>
            </h3>
        </div>

    </div>
</div>
