 <div class="card-icon">
     <img class="svg" src="assets/images/ilt.svg" ng-if="item.imgType == 'ilt'" />
     <img class="svg" src="assets/images/vilt.svg" ng-if="item.imgType == 'vilt'" />
     <img class="svg" src="assets/images/learningpath.svg" ng-if="item.imgType == 'learningpath'" />
     <img class="svg svg-black" src="assets/images/book.svg" ng-if="item.imgType == 'course'" />
     <img class="svg" src="assets/images/file-text.svg" ng-if="item.imgType == 'wikipage'" />
     <img class="svg" src="assets/images/external-link.svg" ng-if="item.imgType == 'webtask'" />
     <img class="svg" src="assets/images/briefcase.svg" ng-if="item.imgType == 'offlinetask'" />


     <img class="logo" src="assets/images/logo-linkedin.png" ng-if="item.imgType == 'lynda'" />
     <img class="logo" src="assets/images/logo-kaltura.png" ng-if="item.imgType == 'kaltura'" />
     <img class="logo" src="assets/images/logo-allego.png" ng-if="item.imgType == 'allego'" />

 </div>
