<!DOCTYPE html>
<html>
    <head>
        <title>$utils.xlate("email.reset.title")</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            $utils.xlate("email.reset.greeting", $resetToken.person.login)
        </p>
        <p>
            $utils.xlate("email.reset.text1")
        </p>
        <p>
            <a href="${baseUrl}/#/reset/finish?key=${resetToken.token}">${resetToken.person.login}</a>
        </p>
        <p>
            $utils.xlate("email.reset.text2")
            <br/>
            <em>$utils.xlate("email.signature")</em>
        </p>
    </body>
</html>
