.feedback-activity {

    height: 100%;
    overflow: scroll;

    .question-card {
        background-color: white;
        margin-bottom: 20px;
        padding: 20px;
        font-size: 18px;
        line-height: 24px;

        .choice-container {
            margin: 20px 0 0 20px;

            .choices {
                label {
                    font-size: 16px;
                    cursor: pointer;
                    font-weight: normal;
                    line-height: 32px;
                }
            }
        }
    }
}