/**
 * Admin Notification Send View styles.
 */

.common-app .admin-discovery-program-upsert-view {
    .actions-container {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;

        .btn {
            min-width: 140px;
        }

        p {
            margin-top: 15px;
        }

        .actions-container-title {}

        .actions-container-body {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
    }
}
