/**
 * Common HTML additions/overridden styles.
 *
 * User: scarlson
 * Date: 2/29/15
 * Time: 12:33 AM
 */

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
    cursor: pointer;
}

body {
    background-color: $body-background-color;
    font-family: "Overpass", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: $font-size-base;
}

table.full-width {
    width: 100%;

    tr {
        td {
            padding-right: 10px;
            width: 100%;

            &:last-child {
                padding-right: 0px;
            }
        }
    }
}

.container-full {
    margin: 0 auto;
    width: 100%;
}