/**
 * Admin Feedbacks View styles.
 */

.common-app .admin-feedbacks-view {
    .header-container {
        padding-top: 20px;
    }

    .message-text-container {
        max-height: 130px;
        display: block;
        overflow-y: scroll;
    }
}
