<div class="card-container-{{cardView}}-fake">
    <div class="card-fake">
        <div class="card-fake-top">
            <h5></h5>
            <h5></h5>
        </div>
        <div class="card-fake-title">
            <h1></h1>
            <h2></h2>
        </div>
        <div class="card-fake-body">
            <p class="complete"></p>
            <p></p>
            <p class="complete"></p>
            <p></p>
        </div>
    </div>
</div>
<div class="card-container-{{cardView}}-fake" ng-if="amount > 1">
    <div class="card-fake">
        <div class="card-fake-top">
            <h5></h5>
            <h5></h5>
        </div>
        <div class="card-fake-title">
            <h1></h1>
            <h2></h2>
        </div>
        <div class="card-fake-body">
            <p class="complete"></p>
            <p></p>
            <p class="complete"></p>
            <p></p>
        </div>
    </div>
</div>
<div class="card-container-{{cardView}}-fake" ng-if="amount > 2">
    <div class="card-fake">
        <div class="card-fake-top">
            <h5></h5>
            <h5></h5>
        </div>
        <div class="card-fake-title">
            <h1></h1>
            <h2></h2>
        </div>
        <div class="card-fake-body">
            <p class="complete"></p>
            <p></p>
            <p class="complete"></p>
            <p></p>
        </div>
    </div>
</div>