<div class="header">

    <div class="site-container">
        <div class="site-header">
            <div class="site-header-left">
                <div class="site-header-logo">
                    <a ui-sref="home">
                        <img src="assets/images/rh_university_logo.png" />
                    </a>
                </div>
            </div>
            <div class="site-header-secondary" ng-if="authenticated">
                <ul class="site-header-nav">
                </ul>
            </div>
        </div>
    </div>
</div>