/**
 * Admin Notification Send View styles.
 */

[ng-quill-editor] {
    display: block;
}

.common-app .admin-wikipage-tree-view {
    .actions-container {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;

        .btn {
            min-width: 140px;
        }

        p {
            margin-top: 15px;
        }

        .actions-container-title {}

        .actions-container-body {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
    }

    .checkbox {
        width: 35px;
        height: 35px;
    }


    /***************************** Dropzone Styling *****************************/

    /**
     * The dnd-list should always have a min-height,
     * otherwise you can't drop to it once it's empty
     */
    .dropzone ul[dnd-list] {
        margin: 0px;
        min-height: 42px;
        padding-left: 0px;
    }

    .dropzone li {
        background-color: #fff;
        border: 1px solid #ddd;
        display: block;
        padding: 0px;
    }

    .dropzone h3 {
        font-size: 1.25em;
    }

    /**
     * Reduce opacity of elements during the drag operation. This allows the user
     * to see where he is dropping his element, even if the element is huge. The
     * .dndDragging class is automatically set during the drag operation.
     */
    .dropzone .dndDragging {
        opacity: 0.7;
    }

    /**
     * The dndDraggingSource class will be applied to the source element of a drag
     * operation. It makes sense to hide it to give the user the feeling that he's
     * actually moving it. Note that the source element has also .dndDragging class.
     */
    .dropzone .dndDraggingSource {
        display: none;
    }

    /**
     * An element with .dndPlaceholder class will be added as child of the dnd-list
     * while the user is dragging over it.
     */
    .dropzone .dndPlaceholder {
        background-color: #ddd;
        display: block;
        min-height: 42px;
    }

    /***************************** Element Selection *****************************/

    .dropzone .selected .item {
        color: #3c763d;
        background-color: #dff0d8;
    }

    .dropzone .selected .box {
        border-color: #d6e9c6;
    }

    .dropzone .selected .box>h3 {
        background-color: #dff0d8;
        background-image: linear-gradient(to bottom, #dff0d8 0, #d0e9c6 100%);
        border-color: #d6e9c6;
        color: #3c763d;
        font-size: 1.25rem;
    }

    /***************************** Element type specific styles *****************************/

    .dropzone .item {
        padding: 10px 15px;
    }

    .dropzone .container-element {
        margin: 10px;
    }

    /***************************** Toolbox *****************************/

    .toolbox ul {
        cursor: move;
        list-style: none;
        padding-left: 0px;
    }

    .toolbox button {
        margin: 5px;
        opacity: 1.0;
        width: 123px;
    }

    .toolbox .dndDragging {
        opacity: 0.5;
    }

    .toolbox .dndDraggingSource {
        opacity: 1.0;
    }

    /***************************** Trashcan *****************************/

    .trashcan ul {
        list-style: none;
        padding-left: 0px;
    }

    .trashcan .dndPlaceholder {
        display: none;
    }
}
