<div class="download-card-container" ng-click="notYetImplemented()">
    <div class="download-card-image">
        <img class="img-responsive" src="{{card.pictureUrl}}" />
    </div>
    <div class="download-card-details">
        <div class="download-card-details-title"><span ng-bind="card.name"></span></div>
        <div class="download-card-details-text"><span ng-bind="card.type"></span> - <span ng-bind="card.size"></span></div>
    </div>
    <div class="download-card-download">
        <i class="icon-download icon-3x"></i>
    </div>
</div>
