<div class="progress-card-container">
    <div class="progress-card" ng-class="{'opened': open}">
        <div class="progress-card-image">
            <img src="http://via.placeholder.com/50x50" />
        </div>
        <div class="progress-card-text">
            <div class="title">Linux Foundation Certified System </div>
            <div class="desc text-small text-muted">
                <span>Course</span>
            </div>
        </div>
        <div class="progress-card-progress">
            <div class="percent-text">
                50%
            </div>
            <div class="percent-bar">
                <div class="percent-bar-bar"></div>
            </div>
            <div class="percent-date text-muted">Jun 11, 2018</div>
        </div>
    </div>
</div>