/**
 * Admin Discovery View styles.
 */

.common-app .admin-discovery-view {

    .table-button-edit {
        font-size: 25px;
    }

    .table-button-delete {
        font-size: 25px;
        color: #DD0000;
    }

    .table-title {
        white-space: nowrap;
    }
}
