<a href="" class="card-view-switcher" ng-click="showGridView()" ng-class="{'icon-selected': cardView == 'grid' }" ng-disabled="cardView == 'grid'" uib-tooltip="View as grid" tooltip-placement="bottom">
    <img class="svg" src="assets/images/grid.svg" />
</a>
<a href="" class="card-view-switcher" ng-click="showListView()" ng-class="{'icon-selected': cardView == 'list' }" ng-disabled="cardView == 'list'" uib-tooltip="View as list" tooltip-placement="bottom">
    <img class="svg" src="assets/images/list.svg" />
</a>