.upcoming-class-card-container {

    .upcoming-class-card {
        border-bottom: 1px solid $grey2;
        padding: $scale1 0;
        margin-bottom: $scale1;
        display: flex;
        flex-direction: row;

        .upcoming-class-info {

            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .upcoming-class-date {
                display: flex;
                flex-direction: row;

                .upcoming-class-date-title {
                    h4 {
                        margin-bottom: 0;
                        font-size: $font-size-lg;
                        font-weight: $font-weight-bold;
                    }
                }

                .upcoming-class-date-label {
                    display: flex;
                    align-items: center;
                    margin-left: $scale-1;

                    .label {
                        background-color: $gray-light;

                        span {
                            vertical-align: top;
                        }
                    }
                }
            }

            .upcoming-class-time,
            .upcoming-class-location {
                font-size: $font-size-sm;
                color: $gray-light;
            }

        }

        .upcoming-class-action {
            display: flex;
            flex-direction: row;
            align-items: center;

            .upcoming-class-price {
                margin-right: $scale4;

                h4 {
                    margin-bottom: 0;
                    font-size: $font-size-lg;
                }
            }

            button {
                padding: 0 $scale1;
                width: 190px;
            }
        }

    }
}