target
node
node_modules
vendor
.idea
*.iml
.classpath
.project
.settings
.tmp
.merge_file*
.sass-cache
.DS_Store
src/main/webapp/dist
src/main/webapp/assets/fonts
src/main/webapp/assets/styles/main.css
src/main/webapp/scripts/common/app.constants.js
.gradle
build
